# Dependencias
node_modules/
.venv/
__pycache__/
*.pyc
.env

# Builds
dist/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# Kubernetes
*.kubeconfig

# Terraform / Terragrunt
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate*
**/backend.tf
**/provider.tf
.terragrunt-cache/
terraform.plan

# AWS
aws-*.yml
*.pem
