DATABASE_URL=postgresql://medicore:secret@db:5432/medicore
POSTGRES_USER=medicore
POSTGRES_PASSWORD=secret
POSTGRES_DB=medicore
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY=super-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256
